<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="login-box">

        <form action="/registro" method="POST">

            <h1>Criar Conta</h1>

            <div class="input-group">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Digite seu e-mail">
            </div>

            <div class="input-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha">
            </div>

            <div class="input-group">
                <label>Confirmar senha</label>
                <input type="password" name="confirmar" placeholder="Confirme sua senha">
            </div>

            <button>Criar Conta</button>

            <br><br>

            <a href="/">Já tenho conta</a>

        </form>

    </div>

</body>
</html>